<div class="form-group">
            <div style="margin:1em;text-align: center">
                <button onclick="addMac();" class="btn btn-primary">Add MAC</button>
                <button id="loadmaclist" onclick="loadMacList()" class="btn btn-primary">View MAC's</button>
            </div>
            <div id="maclist" class="rows">
<div class="col sm-4">
</div>
            </div>

            <button id="macaddsubmit" disabled onclick="registerMac()" class="btn btn-primary">Register</button>
</div>
<script>
    document.getElementById("loadmaclist").click();
</script>