<div class="form-group">
    <label for="title">Title </label>
    <input placeholder="Eg. Cornfield, Paddy Field Plot. 20" type = "text" class="form-control" id = "farm_title">
    </div>
    <div class="form-group">
            <label for="description">Description </label>
            <textarea placeholder="Optional description" type = "text" class="form-control" id = "farm_description"></textarea>
            </div>
            <div style="text-align: center"><button onclick="createAnUser(this);" class="btn btn-primary">Create</button>
            </div>
</div>